    <footer>
        <!-- Subscribe Our Newsletter -->
        <section class="iq-ptb-80 iq-newsletter iq-bg-over iq-over-blue-90 jarallax" data-jarallax-video="webm:<%= asset_path '01.webm' %>,ogv: <%= asset_path '01.ogv' %>">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title white iq-mb-40">
                            <h3 class="title iq-tw-7">Suscríbete a nuestro Newsletter</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="input_email" class="sr-only">E-mail</label>
                                <input type="text" class="form-control" id="subscribe_news" placeholder="e-mail">
                            </div>
                            <a class="button bt-white iq-ml-25" href="javascript:void(0)">Suscribe</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Our Newsletter END -->
        <!-- Footer Info -->
        <section id="contact-us" class="footer-info white-bg">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-6 col-lg-4">
                        <div class="iq-get-in">
                            <h4 class="iq-tw-7 iq-mb-20">Mantengamos el Contacto</h4>
                            <form action="<%= pages_formin_path %>" id="contact" method="POST">
                            <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
                            <div class="contact-form">
                                <div class="section-field">
                                    <input class="require" id="contact_name" type="text" placeholder="Nombre*" name="name">
                                </div>                                <div class="section-field">
                                    <input class="require" id="contact_email" type="email" placeholder="Email*" name="email">
                                </div>
                                <div class="section-field">
                                    <input class="require" id="contact_phone" type="text" placeholder="Teléfono*" name="phone">
                                </div>
                                
                                <div class="section-field">
                                    <input class="require" id="contact_sindicato" type="text" placeholder="Sindicato*" name="sindicato">
                                </div>
                               
                                <div class="section-field">
                                    <input class="require" id="contact_cargo" type="text" placeholder="Cargo en Sindicato" name="cargo">
                                </div>
                                <div class="section-field textarea">
                                    <textarea id="contact_message" class="input-message require" placeholder="Comentarios*" rows="5" name="mensaje"></textarea>
                                </div>
                                <!--
                                <div class="section-field iq-mt-20">
                                    <div class="g-recaptcha" data-sitekey="6LdH_6gUAAAAAAJH4ROOa122eK4lqAuSNBmJTjWg"></div>
                                </div>
                                -->
                               <button id="submit" name="submit" type="submit" value="Send" class="button iq-mt-15">Enviar Mensaje</button>
                                <div class="alert alert-success alert-dismissible fade show" role="alert" id="success">
                                    <strong>¡Gracias! Hemos recibido tu mensaje.</strong>.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>   
<!--        Mapa Google     -->
<!-- 
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840108181602!2d144.95373631539215!3d-37.8172139797516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1497005461921" style="border:0" allowfullscreen></iframe>

-->

             <section class="map" data-jarallax='{"speed": 0.6}' style="background: url(<%= asset_path 'team/05.jpg'%>)">
             </section>
        </section>
        <section class="footer-info iq-pt-60">
            <div class="container">
                <div class="row">
<!--
                   <div class="col-md-6 col-lg-3">
                        <div class="iq-footer-box text-left">
 
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-location-outline"></i>
                            </div>
-->
<!--                        <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Address</h4>
                                <p>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
                            </div>
                        </div>
                    </div>
-->
                    <div class="col-md-6 col-lg-3 r4-mt-30">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-telephone-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Teléfono</h4>
                                <p>+56987680991
                                    <br>Lu-Vi 8:00 - 19:00 hrs
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-5 r4-mt-30">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-email-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">E-mail</h4>
                                <p>contacto@sindicalizapp.com
                                    <br>online support
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 align-self-center">
                        <ul class="info-share">
                            <li><a href="https://twitter.com/sindicalizapp" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/Sindicalizapp/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/sindicalizapp/" target="_blank"><i class="fa fa-instagram">
                            </i></a></li>                      
                        </ul>
                    </div>
                </div>
                <div class="row iq-mt-40">
                    <div class="col-sm-12 text-center">
                        <div class="footer-copyright iq-ptb-20">Copyright @<span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="javascript:void(0)" class="text-green">Sindicalizapp.</a> All Rights Reserved </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Info END -->
    </footer>