        <!-- Software Features END -->
        <!-- Great Screenshots -->
<!--        <section id="great-screenshots" class="overview-block-ptb iq-bg-over  iq-over-blue-80 iq-screenshots iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/07.jpg") %>">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title white">
                            <h3 class="title iq-tw-7">Great Screenshots</h3>
                            <p class="iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <div class="screenshots-slider popup-gallery">
                            <div class="slider-container">
                                <div class="slider-content">
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img">
                                        	<%= image_tag("screenshots/01.jpg", class:"slider-single-image") %></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img">
                                        	<%= image_tag("screenshots/02.jpg", class:"slider-single-image") %></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img">
                                        	<%= image_tag("screenshots/03.jpg", class:"slider-single-image") %></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img">
                                        	<%= image_tag("screenshots/04.jpg", class:"slider-single-image") %></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img">
                                        	<%= image_tag("screenshots/05.jpg", class:"slider-single-image") %></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img">
                                        	<%= image_tag("screenshots/06.jpg", class:"slider-single-image") %></a>
                                    </div>
                                </div>
                                <a class="slider-left" href="javascript:void(0);"><i class="fa fa-angle-left"></i></a>
                                <a class="slider-right" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
-->
        <!-- Great Screenshots END -->











                <!-- Sofbox Specialities END -->
        <!-- Counter -->
        <div class="iq-counter-box iq-bg-over iq-over-blue-90 iq-font-white iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/02.jpg") %>)">
            <div class="container">

<!--                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 text-left">
                        <div class="counter"> <i class="ion-ios-folder-outline " aria-hidden="true"></i>
                            <div class="counter-date">
                                <label class="iq-font-white text-uppercase">APP DOWNLOADS</label>
                                <span class="timer iq-tw-7" data-to="1540" data-speed="10000">1540</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 text-left r4-mt-30">
                        <div class="counter"> <i class="ion-ios-paper-outline " aria-hidden="true"></i>
                            <div class="counter-date">
                                <label class="iq-font-white text-uppercase">HAPPY CLIENTS</label>
                                <span class="timer iq-tw-7" data-to="2530" data-speed="10000">2530</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 text-left r-mt-30">
                        <div class="counter"> <i class="ion-ios-person-outline " aria-hidden="true"></i>
                            <div class="counter-date">
                                <label class="iq-font-white text-uppercase">ACTIVE ACCOUNTS</label>
                                <span class="timer iq-tw-7" data-to="8120" data-speed="10000">8120</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 text-left r-mt-30">
                        <div class="counter"> <i class="ion-ios-star " aria-hidden="true"></i>
                            <div class="counter-date">
                                <label class="iq-font-white text-uppercase">TOTAL APP RATES</label>
                                <span class="timer iq-tw-7" data-to="1620" data-speed="10000">1620</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="counter-info iq-mt-60 iq-pt-40">

                    <div class="row">
                        <div class="col-lg-6">
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic type setting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <p class="iq-mt-30">It has survived not only five centuries, but also the leap into electronic type setting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="javascript:void(0)" class="button bt-black iq-mt-15 iq-mb-30">Download</a>
                        </div>
                        <div class="col-lg-6">
                            <div class="counter-info-img">
                                <%= image_tag("drive/07.jpg", class:"center-block") %>
                                <div class="waves-box">
                                    <a href="<%= asset_path '01.webm' %>" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
                                    <div class="iq-waves">
                                        <div class="waves wave-1"></div>
                                        <div class="waves wave-2"></div>
                                        <div class="waves wave-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
            </div>
        </div>
        <!-- Counter END -->
        <!-- Loved By Our Customers -->
<!--
        <section class="overview-block-ptb white-bg iq-loved-customers">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title iq-mt-50">
                            <h3 class="title iq-tw-7">Loved By Our Customers</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30" >
                            <div class="item">
                                <div class="iq-client white-bg">
                                    <div class="client-img">
                                        <%= image_tag("testimonial/01.jpg", class:"img-fluid rounded-circle") %>
                                    </div>
                                    <div class="client-info">
                                        <div class="client-name iq-mb-10">
                                            <h5 class="iq-tw-6">Jason Adams</h5>
                                            <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                                        </div>
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client white-bg">
                                    <div class="client-img">
                                        <%= image_tag("testimonial/02.jpg", class:"img-fluid rounded-circle") %>
                                    </div>
                                    <div class="client-info">
                                        <div class="client-name iq-mb-10">
                                            <h5 class="iq-tw-6">Jenny Adams</h5>
                                            <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                                        </div>
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-client white-bg">
                                    <div class="client-img">
                                        <%= image_tag("testimonial/03.jpg", class:"img-fluid rounded-circle") %>
                                    </div>
                                    <div class="client-info">
                                        <div class="client-name iq-mb-10">
                                            <h5 class="iq-tw-6">John Deo</h5>
                                            <span class="sub-title iq-tw-6">CEO, Sofbox</span>
                                        </div>
                                        <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor coli incididunt ut labore.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
-->
        <!-- Loved By Our Customers END -->


        <!-- Affordable Price -->


<!--
        <section id="pricing" class="overview-block-ptb grey-bg iq-price-table">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Affordable Price</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="iq-pricing pricing-03 text-center">
                            <div class="price-title iq-parallax iq-over-blue-80" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/08.jpg") %>)">
                                <h2 class="iq-font-white iq-tw-7"><small>$</small>19<small>/Month</small></h2>
                                <span class="text-uppercase iq-tw-4 iq-font-white">BASIC</span>
                            </div>
                            <ul>
                                <li>
                                    <s>100 MB Disk Space</s>
                                </li>
                                <li>2 Subdomains</li>
                                <li>5 Email Accounts</li>
                                <li>
                                    <s>Webmail Support</s>
                                </li>
                                <li>
                                    <s>Customer Support 24/7</s>
                                </li>
                            </ul>
                            <div class="price-footer">
                                <a class="button" href="# ">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 wow flipInY r4-mt-30" data-wow-duration="1s">
                        <div class="iq-pricing pricing-03 text-center">
                            <div class="price-title iq-parallax iq-over-blue-80" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/08.jpg") %>;">
                                <h2 class="iq-font-white iq-tw-7"><small>$</small>29<small>/Month</small></h2>
                                <span class="text-uppercase iq-tw-4 iq-font-white">STANDARD</span>
                            </div>
                            <ul>
                                <li>100 MB Disk Space</li>
                                <li>2 Subdomains</li>
                                <li>5 Email Accounts</li>
                                <li>
                                    <s>Webmail Support</s>
                                </li>
                                <li>Customer Support 24/7</li>
                            </ul>
                            <div class="price-footer">
                                <a class="button" href="# ">Purchase</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 r4-mt-30">
                        <div class="iq-pricing pricing-03 text-center">
                            <div class="price-title iq-parallax iq-over-blue-80" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/08.jpg") %>;">
                                <h2 class="iq-font-white iq-tw-7"><small>$</small>49<small>/Month</small></h2>
                                <span class="text-uppercase iq-tw-4 iq-font-white">ADVANCE</span>
                            </div>
                            <ul>
                                <li>100 MB Disk Space</li>
                                <li>
                                    <s>2 Subdomains</s>
                                </li>
                                <li>
                                    <s>5 Email Accounts</s>
                                </li>
                                <li>Webmail Support</li>
                                <li>Customer Support 24/7</li>
                            </ul>
                            <div class="price-footer">
                                <a class="button" href="# ">Purchase</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


-->

        <!-- Affordable Price END -->
        <!-- Meet the Team -->
<!--        <section id="team" class="overview-block-ptb white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Meet the Team</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <%= image_tag("team/01.jpg", class:"img-fluid center-block") %>
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">JD Adams</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <%= image_tag("team/02.jpg", class:"img-fluid center-block") %>
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">Rinkal Oberoi</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <%= image_tag("team/03.jpg", class:"img-fluid center-block") %>
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">Jason Deol</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <%= image_tag("team/04.jpg", class:"img-fluid center-block") %>
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">kush Jackson</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
-->
        <!-- Meet the Team END -->
        <!-- Compare Services -->
<!--        <section id="compare-services" class="overview-block-ptb iq-over iq-over-blue-90 iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/05.jpg") %>);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title white">
                            <h3 class="title iq-tw-7">Compare Services</h3>
                            <p class="iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="iq-services-box text-left iq-font-white">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="iq-tw-6 iq-pb-10 iq-font-white">Easy to Customize</h5>
                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <div class="iq-progress-bar">
                                    <p class="iq-progress-bar-text">
                                        <span>90</span>
                                    </p>
                                    <div class="iq-progress-bar">
                                        <span data-percent="90"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 align-self-center text-center">
                        <h2 class="iq-font-white">V/S</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="iq-services-box text-left iq-font-white">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="iq-tw-6 iq-pb-10 iq-font-white">Easy to Customize</h5>
                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <div class="iq-progress-bar">
                                    <p class="iq-progress-bar-text">
                                        <span>70</span>
                                    </p>
                                    <div class="iq-progress-bar">
                                        <span data-percent="70"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row iq-mt-50">
                    <div class="col-sm-5">
                        <div class="iq-services-box text-left iq-font-white">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-albums-outline"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="iq-tw-6 iq-pb-10 iq-font-white">Multipurpose layout</h5>
                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <div class="iq-progress-bar">
                                    <p class="iq-progress-bar-text">
                                        <span>50</span>
                                    </p>
                                    <div class="iq-progress-bar">
                                        <span data-percent="50"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 align-self-center text-center">
                        <h2 class="iq-font-white">V/S</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="iq-services-box text-left iq-font-white">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-albums-outline"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="iq-tw-6 iq-pb-10 iq-font-white">Multipurpose layout</h5>
                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <div class="iq-progress-bar">
                                    <p class="iq-progress-bar-text">
                                        <span>80</span>
                                    </p>
                                    <div class="iq-progress-bar">
                                        <span data-percent="80"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row iq-mt-50">
                    <div class="col-sm-5">
                        <div class="iq-services-box text-left iq-font-white">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-color-wand-outline"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="iq-tw-6 iq-pb-10 iq-font-white">Unique Design</h5>
                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <div class="iq-progress-bar">
                                    <p class="iq-progress-bar-text">
                                        <span>100</span>
                                    </p>
                                    <div class="iq-progress-bar">
                                        <span data-percent="100"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 align-self-center text-center">
                        <h2 class="iq-font-white">V/S</h2>
                    </div>
                    <div class="col-sm-5">
                        <div class="iq-services-box text-left iq-font-white">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-color-wand-outline"></i>
                            </div>
                            <div class="services-content">
                                <h5 class="iq-tw-6 iq-pb-10 iq-font-white">Unique Design</h5>
                                <p>Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                <div class="iq-progress-bar">
                                    <p class="iq-progress-bar-text">
                                        <span>40</span>
                                    </p>
                                    <div class="iq-progress-bar">
                                        <span data-percent="40"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
-->
        <!-- Compare Services end -->
        <!-- Frequently Asked Questions -->







<!--                                        BLOG!!!!                    -->


        <!-- Latest Blog Post -->

<!--
        <section id="blog" class="overview-block-ptb grey-bg iq-blog">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Latest Blog Post</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30" >
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                        <div class="media-wrapper">
                                            <video style="width:100%;height:100%;" id="player1"  controls preload="none">
                                                <source type="video/webm" src="<%= asset_path '01.webm' %>" />
                                                <source type="video/ogg" src="<%= asset_path '01.ogv' %>" />
                                            </video>
                                        </div>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With HTML Video</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 20ยบ17</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                        <%= image_tag("blog/01.jpg", class:"img-fluid center-block") %>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Image</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                        <div class="iq-bolg-video">
                                            <iframe src="https://player.vimeo.com/video/176916362"></iframe>
                                        </div>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Vimeo</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                        <div class="iq-bolg-video">
                                            <iframe src="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Youtube</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                         <%= image_tag("blog/03.jpg", class:"img-fluid center-block") %>
                                        <div class="players" id="player2-container">
                                            <div class="media-wrapper">
                                                <audio id="player2" preload="none" controls>
                                                    <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                                                </audio>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Audio</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                        <%= image_tag("blog/02.jpg", class:"img-fluid center-block") %>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Image</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="iq-blog-box">
                                    <div class="iq-blog-image clearfix">
                                        <div class="owl-carousel arrow-1" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30" >
                                            <div class="item">
                                                <%= image_tag("blog/01.jpg", class:"img-fluid") %>
                                            </div>
                                            <div class="item">
                                                <%= image_tag("blog/02.jpg", class:"img-fluid") %>
                                            </div>
                                            <div class="item">
                                                <%= image_tag("blog/03.jpg", class:"img-fluid") %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="iq-blog-detail">
                                        <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Slider</h5> </a> </div>
                                        <div class="blog-content">
                                            <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                        </div>
                                        <div class="iq-blog-meta">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 



-->
        <!-- Latest Blog Post END -->


        <!-- Clients -->



<!--
        <div class="iq-our-clients white-bg iq-ptb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="1" data-margin="30" >
                            <div class="item"> <%= image_tag("clients/01.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/02.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/03.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/04.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/05.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/06.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/07.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/08.png", class:"img-fluid center-block") %></div>
                            <div class="item"> <%= image_tag("clients/09.png", class:"img-fluid center-block") %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


-->


    <!-- Clients END -->
    <!-- Main Content END -->
