
<body data-spy="scroll" data-offset="80">

    <!-- Header -->
    <header id="main-header" class="header-white">
    	<%= render "pages/navbar" %>
    </header>
    <!-- Header End -->
    <!-- Banner -->
    <section id="top iq-home" class="iq-banner-03 overview-block-pt iq-bg-over iq-over-blue-90 iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(<%= asset_path 'bg/01.jpg'%>)">
        <div class="container">
            <div class="banner-text mt-2">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-uppercase iq-font-white iq-tw-3" style="margin-top: 30px">La Solución DEFINITIVA PARA GESTIONAR TU <b class="iq-tw-7">sindicato</b></h1>
                        <p class="iq-font-white iq-pt-15 iq-mb-40">Con nuestro software podrás gestionar todas tus labores del sindicato de forma productiva y eficaz: Comunicar, Administrar y Dirigir nunca fue tan fácil.</p>

    <!-- DEMO BUTTON -->
<!--                        
                        <a href="#contact" class="button bt-black">DEMO GRATIS</a>


                        <a href="#contact" class="button bt-black iq-mlr-30">Contáctanos</a>
-->
                    </div>

<!--
                        <div class="col-md-6">
-->
                    <div class="container col-md-6 col-lg-4">
                        <%= render "pages/form" %>
                    </div>
<!--                        </div> 
-->



                    </div> 
            </div>
        </div>
        <div class="banner-objects">
            <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);">
                    <%= image_tag("drive/03.png") %>
                </span>
            <span class="banner-objects-02 iq-fadebounce">
                    <span class="iq-round"></span>
            </span>
            <span class="banner-objects-03 iq-fadebounce">
                    <span class="iq-round"></span>
            </span>
            <span class="banner-objects-04" data-bottom="transform:translatex(100px)" data-top="transform:translatex(-100px);">
                    <%= image_tag("drive/04.png") %>
                </span>
        </div>
    </section>
    <!-- Banner End -->
    <!-- Main Content -->
    <div class="main-content">
        <!-- Who is Sofbox ? -->
        <section id="how-it-works" class="overview-block-ptb it-works re4-mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Simplifica tu Gestión</h3>
                            <p>Sindicalizapp cuenta con todo lo que necesitas para gestionar tus sindicatos de una manera eficiente y controlada.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="iq-works-box round-icon text-center">
                            <div class="icon-bg center-block"><i aria-hidden="true" class="ion-ios-monitor-outline"></i></div>
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Optimiza tu tiempo</h5>
                            <p>Ahorra tiempo en tu gestión planificando de forma simple.  </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="iq-works-box round-icon text-center">
                            <div class="icon-bg center-block"><i aria-hidden="true" class="ion-ios-albums-outline"></i></div>
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Comunicación garantizada</h5>
                            <p>Mantén a tu equipo y miembros siempre informados.  </p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="iq-works-box round-icon text-center">
                            <div class="icon-bg center-block"><i aria-hidden="true" class="ion-ios-color-wand-outline"></i></div>
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Gana la confianza</h5>
                            <p>Genera confianza en todos tus adeptos – gestión sobresaliente. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Who is Sofbox ? END -->
        <!-- Who is Sofbox ? -->
        <section id="how-works" class="overview-block-ptb how-works">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="iq-tw-6 iq-mb-25">¿Cómo te ayudará Sindicalizapp?</h2>
                        <p class="iq-font-15">
                            <span class="iq-font-black negrita">Sindicalizapp es una poderosa solución</span> que te ayudará día a día gestionar de forma <span class="iq-font-black negrita">fácil y rápida </span> todas las labores que demanda tu sindicato. Sindicalizapp te permitirá <span class="iq-font-black negrita">Comunicar de forma eficiente</span>, a empoderarte de todas las Gestiones de forma ordenada y en <span class="iq-font-black negrita">aumentar la confianza de tus adeptos</span>. El sistema de Sindicalizapp permitirá ahorrar tiempo en tus gestiones, organizar a tu equipo  y conseguir aumentar productividad y eficacia. </p>
<!--                        <p class="iq-font-15 iq-mt-20">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <h6 class="iq-tw-6 iq-mt-25">Discover our best ever services.</h6>
                        <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
--> 
                    </div>
                    <div class="col-md-6">
                        <%= image_tag("images/1.png", class:"iq-works-img") %>
                    </div>
                </div>
            </div>
            <div class="iq-objects">
                <span class="iq-objects-01">
                        <%= image_tag("drive/02.png") %>
                    </span>
                <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <%= image_tag("drive/03.png") %>
                    </span>
                <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <%= image_tag("drive/04.png") %>
                    </span>
                <span class="iq-objects-04 iq-fadebounce">
                        <span class="iq-round"></span>
                </span>
            </div>
        </section>
        <!-- Who is Sofbox ? END -->
        <!-- Software Features -->
        <section id="software-features" class="overview-block-ptb iq-mt-50 software" style="padding-top: 0">
            <div class="iq-software-demo">
                <%= image_tag("images/3.png", class:"img-fluid") %>
            </div>
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-6">
                        <h2 class="iq-tw-6 iq-mb-25">Algunas Funciones</h2>
<!--                        <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
-->
                        <ul class="iq-mt-40 iq-list">
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black"><span class="negrita">Fichas personales</span> En Sindicalizapp, puede administrar las fichas personales de cada miembro, de tal manera que le permitirá transformar los datos en información para una correcta toma de decisiones. </span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black"><span class="negrita">Calendario</span> Sindicalizapp te permite administrar fechas importantes de actividades, generando notificaciones a cada un de los miembros. </span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black"><span class="iq-font-black"><span class="negrita">Sistema de Beneficios</span> Permite concentrar los beneficios del sindicato y hacer fácil uso de éstos para hacerlo mas amigable con los miembros. </span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black"><span class="iq-font-black"><span class="negrita">Votaciones en línea</span> Sindicalizapp cuenta con un sistema de votaciones online, que permite administrar en línea los resultados de las votaciones y generar foros de opinión e informes de resultados.</span></li>
                            <li class="iq-tw-6"><i class="ion-android-done-all iq-mr-10 iq-font-blue iq-font-30"></i><span class="iq-font-black"><span class="iq-font-black"><span class="negrita">Plantillas de correos y comunicados</span> Sindicalizapp diseña comunicados con plantillas que posee el sistema de una manera atractiva y llamativa para los afiliados.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="iq-objects-software">
                <span class="iq-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <%= image_tag("drive/03.png") %>
                    </span>
                <span class="iq-objects-02" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <%= image_tag("drive/04.png") %>
                    </span>
                <span class="iq-objects-03 iq-fadebounce">
                        <span class="iq-round"></span>
                </span>
            </div>
        </section>
        <!-- Software Features END -->
        <!-- Great Screenshots -->




        <!-- Great Screenshots END -->

        <!-- Sofbox Specialities -->
        <section class="overview-block-ptb grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Sindicalizapp en una Mirada </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Soporte</h5>
                                <p>Soporte constante y apoyo a resolver todas tus dudas, a través del teléfono, chat o email.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-settings"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Personaliza tu Espacio</h5>
                                <p>Aplica la personalidad de tu sindicato en nuestra plataforma.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-social-googleplus-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Seguridad y Privacidad</h5>
                                <p>Seguridad y altos estándares para proteger datos e información. .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-heart-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Asesoría</h5>
                                <p>Recibe asesoría de un equipo experto para mejorar continuamente tus gestiones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 iq-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-checkmark-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Fácil Implementación y Operación</h5>
                                <p>Configura el software en tiempo record y opéralo fácilmente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 iq-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-color-wand-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Mejora Contínua</h5>
                                <p>El software evoluciona según las necesidades de nuestros clientes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 iq-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-photos-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Procesos Centralizados</h5>
                                <p>Todos tus procesos y tareas centralizados en una sola plataforma. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 iq-mt-30">
                        <div class="iq-fancy-box text-center">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-videocam-outline"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Multidispositivo</h5>
                                <p>Acceso desde cualquier dispositivo que cuente con un navegador y conexión a internet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sofbox Specialities END -->
        <!-- Counter -->
        <div class="iq-counter-box iq-bg-over iq-over-blue-90 iq-font-white iq-parallax" data-jarallax='{"speed": 0.6}' style="background: url(<%= image_tag("bg/02.jpg") %>)">
            <div class="container">


            </div>
        </div>
        <!-- Counter END -->
        <!-- Loved By Our Customers -->


        <!-- Loved By Our Customers END -->


        <!-- Affordable Price -->



        <!-- Affordable Price END -->
        <!-- Meet the Team -->



        <!-- Meet the Team END -->
        <!-- Compare Services -->


        <!-- Compare Services end -->
        <!-- Frequently Asked Questions -->





        <section class="overview-block-ptb white-bg iq-asked">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Preguntas Frecuentes</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <%= image_tag("images/2.png", class:"img-fluid center-block", style:"z-index: 10; position: 'relative';") %>
                    
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="iq-accordion iq-mt-50">
                            <div class="iq-ad-block ad-active"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey">¿Debo tener conocimientos técnico para operar el software?</a>
                                <div class="ad-details"> No hace falta tener conocimientos técnicos, nosotros nos encargamos de todo, es decir, de la instalación y de capacitar al personal para ocupar el sistema.
                                </div>
                
                            </div>
                            <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey">¿EL software sirve para todo tipo de sindicatos?</a>
                                <div class="ad-details">Sindicalizapp puede ser usado en todos los tipos de sindicato, de todas las industrias y sectores. Envíenos un mail a contacto@sindicalizapp.com y le informaremos de cómo podemos ayudar a su sindicato.</div>
                            </div>
                            <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey">¿El costo es mensual o se paga sólo una vez?</a>
                                <div class="ad-details"> El costo funciona como una suscripción y se paga de manera mensual. Se cobrará el valor correspondiente dependiendo del plan que contrates. Consulta por nuestros planes y precios <a href="#contact">AQUÍ</a></div>
                            </div>
                            <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey">¿Cómo puedo contratar Sindicalizapp ?</a>
                                <div class="ad-details">Para trabajar con nosotros sólo debes enviar un mail a contacto@sindicalizapp.com y te enviaremos todos los detalles para la integración de tu sindicato. No requiere firma de contrato ni instalaciones de ningún tipo.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="iq-objects-asked">
                <span class="iq-objects-01">
        			<%= image_tag("drive/02.png")  %>
        		</span>
                <span class="iq-objects-02" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
        			<%= image_tag("drive/04.png") %>
    			</span>
                <span class="iq-objects-03 iq-fadebounce">
        <span class="iq-round"></span>
                </span>
            </div>
        </section>

        <!-- Frequently Asked Questions END -->




        <%= render "pages/servcomplemento" %>








    <!-- Footer -->


        <%= render "pages/footer" %>

       
    <!-- Footer END -->
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
    </div>
    <!-- back-to-top End -->
    

    <!-- Optional JavaScript -->

    <!-- Google captcha code Js -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    
</body>

</html>
