<!DOCTYPE html>
<html>
  <head>
    <title>Sindicalizapp - Sindicatos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sindicalizapp - Administrador de Sindicatos </title>
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;Raleway:300,400,500,600,700,800,900" rel="stylesheet">

    
</head>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
